spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/yanger?useUnicode=true&amp;characterEncoding=utf-8
    username: root
    password: 1234
  redis:
    host: localhost
    port: 6379
    password: 1234
    timeout: 180000